In [1]:
import numpy as np
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect("baseline_v5.0.0_10yrs.db")
df = pd.read_sql("select * from observations;", con)
con.close()

In [3]:
tot_time = np.sum(df["visitExposureTime"])

In [4]:
indx = np.where(["ToO" in note for note in df["scheduler_note"]])
np.sum(df["visitExposureTime"].values[indx])/tot_time

np.float64(0.04680324546618507)

In [5]:
indx = np.where(["DD" in note for note in df["scheduler_note"]])
np.sum(df["visitExposureTime"].values[indx])/tot_time

np.float64(0.07022081919685914)

In [6]:
indx = np.where(["long" in note for note in df["scheduler_note"]])
np.sum(df["visitExposureTime"].values[indx])/tot_time

np.float64(0.039821013584718006)

In [7]:
indx = np.where(["33" in note for note in df["scheduler_note"]])
np.sum(df["visitExposureTime"].values[indx])/tot_time

np.float64(0.6279354428502272)

In [8]:
indx = np.where(["15" in note for note in df["scheduler_note"]])
np.sum(df["visitExposureTime"].values[indx])/tot_time

np.float64(0.1574269892153026)

In [9]:
indx = np.where(["twi" in note for note in df["scheduler_note"]])
np.sum(df["visitExposureTime"].values[indx])/tot_time

np.float64(0.013844985817638114)

In [10]:
indx = np.where(["greed" in note for note in df["scheduler_note"]])
np.sum(df["visitExposureTime"].values[indx])/tot_time

np.float64(0.06182200003946724)